<div class="modal-div">
<!-- Modal -->
<div class="modal fade" id="rightsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h2 id="rightsModallLabel"><%= t('sufia.product_name') %> License Descriptions</h2>
      </div>
      <div class="modal-body">
        <p>Determined by the Institution/Organization and generally consistent within a
          Collection.
        </p> <ul>
        <li><b>Contact host institution for more information.</b><br/>
        Details</li>
        <li><b>No known restrictions on use.</b> <br/>
        Details</li>
        <li><b>All rights reserved. </b><br/>
          With this license you - as the copyright holder - reserve all rights held under copyright law, such as for distribution and creation of derivative works. This means that no one can use your content in a work - such as a presentation or article - or create derivatives from it without your permission.</li>
          </ul>
    </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
