<h2>Upload</h2>
<%#= render partial: 'generic_files/upload/alerts' %>
<%# using partials rather than inlining, so implementers can add or change stuff on this page without much duplication %>
<ul class="nav nav-tabs" role="tablist" title="Data Source Selectors" id="upload_tabs">
  <li class="active" id="singlefile_tab" title="<%= t('sufia.upload.single_file_computer.sr_tab_label')+' '+ t('sufia.upload.single_file_computer.tab_label') %>"><a role="tab" href="#singlefile" data-toggle="tab"><i class="glyphicon glyphicon-file" aria-hidden="true"></i> <%= t('sufia.upload.single_file_computer.tab_label')%></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="singlefile" aria-labelledby="singlefile_tab" role="tabpanel">
    <span class="sr-only"><%= t("sufia.upload.single_file_computer.sr_instructions") %></span>
    <%= render partial: 'single_upload' %>
  </div>
</div>
