<div id="home_map">
  <h1>Discover By Location</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</p>
  <%= button_to("/map", class: "btn btn-primary", id: "search_map_btn") do %>
    Search The Map
  <% end %>
</div>
