<div id="home_map">
  <h1>Discover By Location</h1>
  <p>Use this map to check out locations that our materials are about––a great way to explore the global reach of trans history.</p>
  <%= button_to("/places", class: "btn btn-primary btn-round", id: "search_map_btn", method: :get) do %>
    Search The Map
  <% end %>
</div>
