<div id="home_search">
  <%= render partial: 'homepage/home_navbar' %>

  <div id="header_text">
    <h1>TRANS HISTORY, <span class="orange">LINKED</span></h1>
  </div>

  <%= render partial: 'homepage/home_searchbar' %>
</div>
