<div id="home_search">
  <%= link_to "/" do %><div id="home_logo"></div><% end %>

  <%= render partial: 'shared/main_navbar' %>

  <div id="header_text">
    <h1>TRANS HISTORY, <span class="orange">LINKED</span></h1>
  </div>

  <%= render partial: 'homepage/home_searchbar' %>
</div>
