<div id="home_featured_items">
  <h1>Featured Items Gallery</h1>

  <div class="btn_wrapper">
    <%= button_to("/featured", class: "btn btn-primary btn-round", id: "view_featured_items_btn", method: :get) do %>
      Explore Featured Items
    <% end %>
  </div>
</div>
