
  <%= render partial: 'homepage/home_search' %>
  <div style="clear: both; margin:0; padding: 0;"></div>
  <%= render partial: 'homepage/home_map' %>

  <%= render partial: 'homepage/home_footer' %>
<% if 1==0 and current_user.present? and current_user.contributor? %>
    <div style="margin-top:-850px;margin-left:-380px;">
      <%= render partial: '/controls' %>
    </div>
<% end %>


