<table class="table table-zebra-striped inst_collection_table">
  <caption class="sr-only">List of collection</caption>
  <tbody>
    <%= render partial: 'show_institution_list_row', collection: documents, as: :document %>
  </tbody>
</table>
