<% @page_title = "#{@page.title} -  #{application_name}" %>
<div id="static_holder" class="container-fluid">
  <div class="row">
    <%= render partial: '/partials/section_side_nav' %>
    <div class="col-xs-12 col-sm-9 col-lg-9 col-md-9 static_holder_content_container">
      <div id="static_holder_content" class="static_holder_content">
        <h2><%=@page.title%><% if current_user.present? and (current_user.superuser? or (current_user.admin? and !@page.published))%><span style="color:red;"> <%= link_to "[Edit]", edit_learn_path(@page) %></span><%end%></h2>

        <%=@page.content.html_safe%>

      </div>

    </div>

  </div>
</div>
