<% if query_has_constraints? && (params[:q].present? || params[:f].present?) %>

  <div id="appliedParams" class="clearfix constraints-container">
    <div class="pull-right">
      <%=link_to t('blacklight.search.start_over'), "/catalog?search_field=#{params[:search_field]}", :class => "catalog_startOverLink btn btn-sm btn-text", :id=>"startOverLink" %>
    </div>
    <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
    <%= render_constraints(params) %>
  </div>
<% end %>
