<%# container for all documents in index view -%>
<div id="search-results">
  <ol class="catalog" start="<%= document_counter_with_offset(0) %>">
    <%#= render documents, as: :document %>
    <% documents.each do |document| %>
        <%= render partial: 'generic_files/generic_file', locals: {document: document} %>
    <% end %>
  </ol>
</div>

