<div class="page-header row">
  <h2 class="col-md-8 page-heading">Digital Transgender Archive Search</h2>
</div>

<div id="getting-started">
  <h3 class='section-heading'>You have no search specified.</h3>
  <p>Please select a facet on the left or use the search bar above to start a new search. To view all items,
    use the top search bar without any search terms entered.</p>
</div>
<script>
    $(function() {
        //window.location.replace("https://www.digitaltransgenderarchive.net/catalog?utf8=%E2%9C%93&search_field=all_fields&q=");
    });
</script>
