<% if show_pagination? and @response.total_pages > 1 %>
    <div class="row record-padding">
      <div class="col-md-12">
        <div id="pagination_links_large" class="pagination">
          <%= paginate @response, :outer_window => 2, :inner_window=>4, :theme => 'blacklight' %>
        </div>
        <div id="pagination_links_medium" class="pagination">
          <%= paginate @response, :outer_window => 1, :inner_window=>3, :theme => 'blacklight' %>
        </div>
        <div id="pagination_links_small" class="pagination">
          <%= paginate @response, :outer_window=>1, :inner_window=>2, :theme => 'blacklight' %>
        </div>
      </div>
    </div>
<% end %>
