<% @page_title = "Contact -  #{application_name}" %>
<div id="static_holder" class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 static_side_nav_container">
      <%= render partial: '/shared/static_extra_nav' %>

    </div>
    <div class="col-xs-8 col-sm-8 static_holder_content_container">
      <div id="static_holder_content" class="static_holder_content">
        <h2><%=@page.title%></h2>


        <p>Thank you for your interest in the Digital Transgender Archive! If you have suggestions

          or questions about the project, please use the form below to contact us.</p>

        <p>If you would like to get involved, here are a few ways you might participate:</p>
        <ul class="indent">
          <li><h4 class="pages_italic"></h4></li>
        </ul>
        Contribute Materials

        Materials on this site are provided by a range of institutions, from small

        non-profit organizations to large universities. If your organization is

        interested in partnering with the DTA to provide information on your

        holdings or to provide access to digital materials, please contact us. We

        also welcome individuals to contribute privately owned materials.

        Volunteer and Internship Opportunities

        There are a variety of ways that individuals can collaborate on the DTA,

        from one-time support to ongoing participation. If you have brief

        suggestions for the site, ideas for future projects, or proposals for possible

        contributors, please feel free to email us at any time. If you are interested

        in volunteering on a regular basis or, if you are interested in a more formal

        internship, please email us to begin a conversation about joining our team.

        Join our Mailing List

        Joining our email list is a great way to stay in touch. Our periodic emails

        will provide project updates, links to news stories, and other important

        information.

        Spread the Word

        Spread the word about the DTA through our social media outlets!

        Twitter: https://twitter.com/digitaltransarc

        facebook: https://www.facebook.com/digitaltransarc/
        <!--End mc_embed_signup-->
      </div>

    </div>

  </div>
</div>
