<% @page_title = "Contact -  #{application_name}" %>
<div id="static_holder" class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 static_side_nav_container">
      <%= render partial: '/shared/static_extra_nav' %>

    </div>
    <div class="col-xs-8 col-sm-8 static_holder_content_container">
      <div id="static_holder_content" class="static_holder_content">
        <h2>Feedback Complete</h2>


        <p>Your feedback has been successfully submitted to the Digital Transgender Archive! Thank you for contacting us!</p>

        <ul>
          <li><%= link_to 'Back to the Homepage', root_path %></li>
        </ul>


      </div>

    </div>

  </div>
</div>
