<% @page_title = "Contact -  #{application_name}" %>
<div id="static_holder" class="container-fluid">
  <div class="row">
    <%= render partial: '/partials/section_side_nav' %>
    <div class="col-xs-9 col-sm-9 static_holder_content_container">
      <div id="static_holder_content" class="static_holder_content">
        <h2>Feedback Complete</h2>


        <p>Your feedback has been successfully submitted to the Digital Transgender Archive! Thank you for contacting us!</p>

        <ul>
          <li><%= link_to 'Back to the Homepage', root_path %></li>
        </ul>


      </div>

    </div>

  </div>
</div>
