<div id="static_holder" class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 static_side_nav_container">
      <%= render partial: '/shared/static_extra_nav' %>

    </div>
    <div class="col-xs-8 col-sm-8">
      <div id="static_holder_content" class="about_section">
        <h2>What is this?</h2>

        <p>The purpose of the Digital Transgender Archive (DTA) is to increase the accessibility of

        transgender history by providing an online hub for digitized historical materials, born­digital

        materials, and information on archival holdings throughout the world. </p>

        <p> The DTA uses the term transgender to refer to a broad and inclusive range of non­normative

        gender practices. We treat transgender as a practice rather than an identity category in order

        to bring together a trans­historical and trans­cultural collection of materials related to trans­ing

        gender. We collect materials from anywhere in the world with a focus on materials created

        before the year 2000.</p>
      </div>

    </div>

  </div>
</div>


