<div id="static_holder" class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 static_side_nav_container">
      <%= render partial: '/shared/static_extra_nav' %>

    </div>
    <div class="col-xs-8 col-sm-8">
      <div id="static_holder_content" class="about_section">
        <h2 style="margin-bottom:18px;">Our Team</h2>

        <p>
          <div class="about_subtitle">
            Project Director
          </div>
          <ul class="indent">
            <li>
              <strong>K.J. Rawson:</strong> K.J. is an Assistant Professor in the <a href="http://academics.holycross.edu/english/" target="_blank">English Department</a> at the <a href="http://www.holycross.edu/" target="_blank">College of the Holy Cross</a>. His research and teaching interests include composition, rhetoric, digital media, and LGBT studies. His scholarship focuses on the rhetorical dimensions of queer and transgender archiving in both traditional and digital collections. With Eileen E. Schell, he co-edited <em>Rhetorica in Motion: Feminist Rhetorical Methods and Methodologies</em> (University of Pittsburgh Press, 2010) and with Aaron Devor he co-edited a special issue of <em>TSQ</em> on Archives and Archiving (Duke University Press, 2015). His scholarship has also appeared in <em>Archivaria</em>, <em>Enculturation</em>, <em>Present Tense</em>, <em>QED</em>, <em>TSQ</em>, and several edited collections.

            </li>
          </ul>
        </p>

        <p>
        <div class="about_subtitle">
          Developers
        </div>
        <ul class="indent">
          <li>
            <strong>Robert Allen</strong> (Applications Development Director, College of the Holy Cross)
          </li>
          <li>
            <strong>Steven Carl Anderson</strong> (Digital Repository Developer, Boston Public Library and Owner, PHD Gaming LLC)
          </li>
          <li>
            <strong>Everett Carr</strong> (Senior Software Developer, College of the Holy Cross)
          </li>
          <li>
            <strong>Timothy Mentzer</strong> (Senior Software Developer, College of the Holy Cross)
          </li>
        </ul>
        </p>

        <p>
        <div class="about_subtitle">
          Research Assistants
        </div>
        <ul class="indent">
          <li>
            <strong>Mariel Aleman</strong>
          </li>
          <li>
            <strong>Catarina-Oliva Beal</strong>
          </li>
          <li>
            <strong>Katie Bowles</strong>
          </li>
          <li>
            <strong>Anne Clarke</strong>
          </li>
          <li>
            <strong>Jeimy Hernandez</strong>
          </li>
          <li>
            <strong>Abigail Kehoe</strong>
          </li>
          <li>
            <strong>Jazmin Lopez</strong>
          </li>
          <li>
            <strong>Jason Steranko</strong>
          </li>
        </ul>
        </p>

        <p>
        <div class="about_subtitle">
          Alums
        </div>
        <ul class="indent">
          <li>
            <strong>Rachel Greenberg</strong> (Research Assistant)
          </li>
          <li>
            <strong>Victoria Mousley</strong> (Lab Supervisor)
          </li>
          <li>
            <strong>Derek Murphy</strong> (Web Developer)
          </li>
          <li>
            <strong>Connor O'Brien</strong> (Research Assistant)
          </li>
          <li>
            <strong>Cecilia Wolfe</strong> (Research Assistant)
          </li>
        </ul>
        </p>

        <p>
        <div class="about_subtitle">
          Partner Institutions and Projects
        </div>
        <ul class="indent">
          <li>
            <strong><a href="http://www.clga.ca/" target="_blank">Canadian Lesbian and Gay Archives</a></strong>
          </li>
          <li>
            <strong><a href="http://www.sexandculture.org/" target="_blank">Center for Sex and Culture</a></strong>
          </li>
          <li>
            <strong><a href="http://countryqueers.com/" target="_blank">Country Queers: A Multimedia Oral History Project</a></strong>
          </li>
          <li>
            <strong><a href="http://www.genderdynamix.org.za/" target="_blank">Gender DynamiXGerber/Hart Library and Archives</a></strong>
          </li>
          <li>
            <strong><a href="http://www.glbthistory.org/" target="_blank">GLBT Historical Society</a></strong>
          </li>

          <li>
            <strong><a href="http://rmc.library.cornell.edu/HSC/" target="_blank">Human Sexuality Collection</a></strong> @ Cornell University
          </li>
          <li>
            <strong><a href="http://sfpl.org/index.php?pg=0200002401" target="_blank">James C. Hormel Gay & Lesbian Center</a></strong> @ San Francisco Public Library
          </li>
          <li>
            <strong><a href="https://www.lib.umn.edu/scrbm/tretter" target="_blank">Jean-Nickolaus Tretter Collection</a></strong> @ University of Minnesota
          </li>
          <li>
            <strong><a href="http://www.lib.umich.edu/labadie-collection" target="_blank">GJoseph A. Labadie Collection</a></strong> @ University of Michigan
          </li>
          <li>
            <strong><a href="http://www.lili-elbe-archive.org/" target="_blank">Lili Elbe Archive</a></strong>
          </li>

          <li>
            <strong><a href="http://www.nyctransoralhistory.org/" target="_blank">New York City Transgender Oral History Project</a></strong>
          </li>
          <li>
            <strong><a href="http://www.onearchives.org/" target="_blank">ONE National Gay & Lesbian Archives</a></strong> @ the USC Libraries
          </li>
          <li>
            <strong><a href="https://www.facebook.com/pages/Sexual-Minorities-Archives/117351321685599" target="_blank">Sexual Minorities Archives</a></strong>
          </li>
          <li>
            <strong><a href="https://www.radcliffe.harvard.edu/schlesinger-library" target="_blank">Schlesinger Library, Radcliffe Institute for Advanced Study</a></strong> @ Harvard University
          </li>
          <li>
            <strong><a href="http://tgarchive.org/" target="_blank">Transgender Archive</a></strong> @ Transgender Foundation of America
          </li>

          <li>
            <strong><a href="http://transgenderarchives.uvic.ca/" target="_blank">Transgender Archives</a></strong> @ University of Victoria
          </li>
          <li>
            <strong><a href="http://transoralhistory.com/" target="_blank">Transgender Oral History Project</a></strong>
          </li>
        </ul>
        </p>


        <p>
        <div class="about_subtitle">
          In addition to the efforts of our current and former team members and our advisory board, the following people have offered tremendous support for this project:
        </div>
        <ul class="indent">
          <li>
            <strong>Tom Blake</strong>
          </li>
          <li>
            <strong>Elspeth Brown</strong>
          </li>
          <li>
            <strong>Margaret Freije</strong>
          </li>
          <li>
            <strong>Ellen Keohane</strong>
          </li>
          <li>
            <strong>Nick Matte</strong>
          </li>

          <li>
            <strong>Danny Pucci</strong>
          </li>
          <li>
            <strong>Rebecka Sheffield</strong>
          </li>
          <li>
            <strong>Lara Wilson</strong>
          </li>
        </ul>
        </p>

        <p>
        <div class="about_subtitle">
          Thank you all for your support!
        </div>
        </p>

      </div>

    </div>

  </div>
</div>


