<div id="static_holder" class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 static_side_nav_container">
      <%= render partial: '/shared/static_extra_nav' %>

    </div>
    <div class="col-xs-8 col-sm-8">
      <div id="static_holder_content" class="about_section">
        <h2>Project</h2>

        <h3>Overview</h3>

        <p>The Digital Transgender Archive (DTA) is an online hub for trans-related

          historical materials. Based in Worcester, Massachusetts at the <a href="http://www.holycross.edu/" target="_blank">College of the

          Holy Cross</a>, the DTA is an international collaboration among more than a dozen

          colleges, universities, nonprofit organizations, and private collections. By digitally

          localizing a wide range of trans-related materials, the DTA expands access to

          trans history for academics and independent researchers alike in order to foster

          education and dialog concerning trans history. </p>

        <h3>History &amp; Purpose</h3>

        <p>The idea for the DTA first began to take root when K.J. Rawson and Nick Matte

          met at the TransSomatechnics conference held at Simon Fraser University in the

          spring of 2008. Through a series of impassioned conversations, K.J. and Nick

          realized that their own challenges researching transgender history were

          representative of systematic challenges that all researchers would face.</p>

        <p>The first of these challenges is that trans-related historical materials are widely

          dispersed throughout the world in a number of different repositories ranging from

          university-based collections to non-profit and grassroots archives. Most archives

          that have significant holdings in this area have no official ties and do not

          collaborate regularly. The amount of materials in these collections that are

          processed and made available to researchers varies widely, with some archives

          not even having the most basic, collection-level information about their holdings

          available to researchers. These factors make it difficult to know which archives

          collect trans materials, what materials these archives have, and how holdings at

          various archives relate to one another.</p>

        <p>A second challenge of research on trans phenomena is rooted in language.

          While "transgender" is now widely used in contemporary U.S. culture, the term is

          not only culturally specific, but it is also only a few decades old. In an archival

          context, this very recent emergence of the term means that any materials

          processed before the 1990s would not include the term in descriptive information.

          Throughout the world, many other terms are used to describe trans-related

          practices, often in ways that are both temporally and contextually foreign to a

          U.S.-based understanding of transgender. Without a key term to cohere gender

          non-conforming practices, researchers are forced to attempt alternative, and

          often unsuccessful, ways of finding relevant materials.</p>

        <p>A third challenge is that very few primary source materials are available online

          and even those are difficult to discover. Moreover, with some archives having no

          online presence and others offering only limited descriptions of their holdings,

          researchers have few ways of learning where particular transgender materials

          are housed.</p>

        <p>In order to address these significant barriers to the accessibility of trans history,

          the DTA virtually merges disparate archival collections, digital materials, and

          independent projects with a single search engine. With rich primary source

          materials and powerful search tools, the DTA offers a generative point of entry

          into the fascinating and expansive world of trans history.</p>


        <p>It’s important to note that the DTA uses transgender in an expansive and

          inclusive analytic sense, not simply as a fixed identity term. Though the term

          transgender is widely used as a broad identity category in the U.S. (though not

          without controversy), the term does not adequately capture the gender diversity

          that exists around the world (see Global Terms for more on this). Consequently,

          we use transgender and trans as a framework for collecting materials, as a point

          of departure, so that we can work toward developing deeper understandings of

          practices of trans-ing gender on a global scale.</p>

        <p>The DTA is made possible because of the generous support of the <a href="http://www.holycross.edu/" target="_blank">College of the

          Holy Cross</a>, <a href="https://www.digitalcommonwealth.org" target="_blank">Digital Commonwealth</a>, and the <a href="http://www.acls.org/" target="_blank">American Council of Learned

          Societies</a>, which awarded K.J. a <a href="http://www.acls.org/programs/digital/" target="_blank">Digital Innovation Fellowship</a> for the 2015–2016

          academic year.</p>

        <p>If you would like to learn more about the project, please <a href="#">Contact Us!</a></p>
      </div>

    </div>

  </div>
</div>


