.mei_alt_table_row {
  background-color: #D3D3D3;
}

.mei_table_style {
  padding: 10px;
  width:100%;
}

.mei_table_style tr td {
  padding-left:10px;
  padding-top:5px;
  padding-bottom: 5px;
}

.modal.modal-wide {
  width: 90%;
}