.single_value_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}

.single_text_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}

.single_value_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}

.collection_description, .genericfile_description  {
  //font-family: Verdana,​Arial,​sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: normal;
}

#generic_file_rights {
	height: 68px;
	max-width: 40em;
}

.form_single_style {
  margin-left: 0;
  max-width: 37em;
  padding-left: 0;
}

.form-group .popover {
  width:30em;
  max-width:30em;
}