<div id="footer">
  <%= image_tag('shared/footer_logo.png', class: 'footer_logo' )%>
  <%= image_tag('shared/logo_icon_only.png', class: 'footer_logo_small' )%>
  <ul class="list-unstyled list-inline">
    <li><a href="https://www.instagram.com/digitaltransarc/" target="_blank" title="Click to visit our instagram page!"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://www.facebook.com/digitaltransarc/" target="_blank" title="Click to visit our Facebook page!"><i class="fa fa-facebook"></i></a></li>
    <!--- <li><a href="https://bsky.app/profile/transgenderarchive.bsky.social" target="_blank" title="Click to visit our unforgettable Bluesky feed!"><i class="fa fa-bluesky"></i></a></li> --->
  </ul>
</div>
