#static_holder {
  color: #002D59;
  margin-bottom: 15px;

  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 18px;
    padding-bottom: 10px;
    border-bottom: 2px #BACBE7 dotted;
  }
}
.static_holder_content h3 {
  margin-top:20px;
}

.static_holder_content h4 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom:5px;
  margin-top:20px;
  margin-left:0px;
  margin-right:0px;
}

.static_holder_content h4.pages_italic {
  font-style: italic;
  font-weight: normal;
}

.static_holder_content ul.indent {
  list-style:none;
  margin-top:0px;
}

.static_holder_content li.indent {
  margin-bottom:8px;
}

.news_posts_content {
  font-size:16px;
  margin-bottom: 10px;
}

.static_side_nav_container
{
  max-width:425px;
  min-width:295px;
}

.static_follow_div {
  max-width:150px;
  float:left;
  margin-left:30px;
}

.facebook_follow_image {
  border: 0px;
  width:265px;
  border:1px;
}

.twitter_without_follow {
  display:none;
  visibility:hidden;
}

@media (max-width: 1200px) {

  .static_follow_div {
    max-width: 150px;
    float: left;
    margin-left: 10px;
  }
  .facebook_follow_image {
    border: 0px;
    width:265px;
    border:1px;
  }

  .twitter_without_follow {
    display:none;
    visibility:hidden;
  }

  .twitter_with_follow {
    display:block;
    visibility:visible;
  }
}

@media (max-width: 1100px) {
  .twitter_without_follow {
    display:block;
    visibility:visible;
  }

  .twitter_with_follow {
    display:none;
    visibility:hidden;
  }

  .facebook_follow_image {
    border: 0px;
    width:205px;
    border:1px;
  }

  .static_follow_div {
    max-width: 150px;
    float: left;
    margin-left: 30px;
  }
}

@media (max-width: 1000px) {
  .twitter_without_follow {
    display:block;
    visibility:visible;
  }

  .twitter_with_follow {
    display:none;
    visibility:hidden;
  }

  .facebook_follow_image {
    border: 0px;
    width:205px;
    border:1px;
  }

  .static_follow_div {
    max-width: 150px;
    float: left;
    margin-left: 10px;
  }
}



@media (max-width: 780px) {
  .twitter_without_follow {
    display:block;
    visibility:visible;
  }

  .twitter_with_follow {
    display:none;
    visibility:hidden;
  }

  .static_side_nav_container {
    display:none;
  }

  .static_holder_content_container {
    max-width:100%;
    width: 100%;
    margin: 0 auto;
  }

}

