@font-face {
  font-family: Avenir;
  src: url(font-path('avenir.ttf'))  format('truetype');
}
@font-face {
  font-family: DTA;
  src: url(font-path('4990810.ttf'))  format('truetype');
}
@font-face {
  font-family: Gotham-Black;
  src: url(font-path('Gotham-Black.otf'))  format('opentype');
}
@font-face {
  font-family: Gotham-Ultra;
  src: url(font-path('Gotham-Ultra.otf'))  format('opentype');
}

body.bodyoverride {
  background-color: #818e9e;
}

#homepage {
  /* Other fix is overflow:x to be hidden... perhaps use over other templates? */
  /* resize target is 410 px */
  .row {
    margin:0;
  }

  .btn-round {
    background-color: #002D59;
    font-family: Avenir;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 30px 30px 30px 30px;
  }

  #home_search {
    height: 600px;
    background-image: image-url('home/homepage_header_bg.png');
    background-repeat: repeat-x;
    background-position: left top;

  }

  #home_logo {
    float: left;
    margin-top:30px;
    margin-left: 60px;
    width: 313px;
    height: 143px;
    background-image:  image-url('home/homepage_header_logo.png');
  }

  #home_links {
    float: right;
  }

  #login_btn {
    width: 90px;
    height: 30px;
    background-color: #FAA738;
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 30px 30px 30px 30px;
  }

  .caret {
    color: #FAA738;
  }

  .navbar {
    margin-top: 60px;
    margin-right: 30px;
    color: white;
    font-family: Avenir;

    .navbar-toggle {
      background-color: gray;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
      /*background-color: #337ab7;
      border-color: #337ab7;*/
      background-color: #FAA738;
      border-color: #337ab7
    }
    .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      /*background-color: #337ab7;*/
      background-color: #FAA738;
    }

    .dropdown-menu > li > a:hover {
      background-color: #337ab7;
    }

    a {
      color: white;
    }
    a:active {
      color: #FAA738;
    }

    ul.dropdown-menu {
      /*background-color: #002D59;*/
      background-color: #FAA738;
      z-index: 10000;
    }
  }

  #header_text {
    clear: both;
    width: 100%;
    padding-top: 25px;
    text-align: center;
    h1 {
      font-family: DTA;
      color: white;
      letter-spacing: 2px;

      .orange {
        color: #FAA738;
      }
    }
  }

  #home_searchbar_outer {
    padding-right: 100px;
    width: 100%;

    #home_searchbar {
      font-family: Avenir;
      width: 600px;
      margin: auto;
      padding-top: 15px;

      a {
        color: white;
        text-transform: uppercase;
        font-size: 14px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 130px;
        margin-bottom: 30px;
      }

      li {
        margin: 0;
        margin-right: 20px;
        float: left;
      }
      li:last-child {
        margin-right: 0px;
      }

      .search_select_wrapper {
        overflow: hidden;
        height: 30px;
        width: 100px;
        position: relative;
        display: block;
        margin-top: 10px;

        select::-ms-expand {
          display: none;
        }

        select {
          font-weight: normal;
          background-color: transparent;
          height: 30px;
          border: 0;
          font-size: 15px;
          width: 100px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          color: #FFFFFF;
          text-align: right;
        }

        &:after {
          content:"\f0dc";
          font-family: FontAwesome;
          color: #FAA738;
          padding: 7px 8px;
          position: absolute; right: 0; top: 0;
          background-color: transparent;
          z-index: 1;
          text-align: center;
          width: 10%;
          height: 100%;
          pointer-events: none;
          box-sizing: border-box;
          margin-right: 10px;
        }
      }

      .search_q {
        border-radius: 30px 0px 0px 30px;
        height: 50px;

        &::-webkit-input-placeholder {
          color: #002D59;
          font-weight: bold;
          font-family: Avenir;
        }

        &::-moz-placeholder {
          color: #002D59;
          font-weight: bold;
          font-family: Avenir;
        }

        &::-ms-input-placeholder {
          color: #002D59;
          font-weight: bold;
          font-family: Avenir;
        }

        &::-o-input-placeholder {
          color: #002D59;
          font-weight: bold;
          font-family: Avenir;
        }
      }

      .search-btn {
        border-radius: 0px 30px 30px 0px;
        cursor:pointer;
        height: 52px;
        background-color: #FAA738;
        margin-top: -1px;
        text-transform: uppercase;
        font-family: Avenir;
        letter-spacing: 1px;
        width: 130px;
      }



    }
  }


  #home_map {
    height: 416px;
    background-image: image-url('home/homepage_map_bg.png');
    background-repeat: repeat-x;
    background-position: left top;

    h1 {
      font-family: DTA;
      color: #002D59;
      letter-spacing: 2px;
      margin-left: 115px;
      padding-top: 80px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    p {
      color: #002D59;
      font-family: Avenir;
      /*width: 550px;
      width: 100%;*/
      max-width: 550px;
      padding-right: 10px;
      margin-left: 115px;
      margin-top: 40px;
      margin-bottom: 25px;
    }

    #search_map_btn {
      width: 220px;
      margin-left: 115px;
      text-transform: uppercase;
    }
  }

  #home_get_started {
    background-color: #FFFFFF;

    h2 {
      font-family: DTA;
      color: #002D59;
      letter-spacing: 2px;
      margin-left: 115px;
      padding-top: 60px;
      margin-bottom: 25px;
      margin-top: 0px;
      font-size: 36px;
    }
    div.icon_wrapper {
      width: 200px;
      margin: auto;
      color: #002D59;
      font-family: Avenir;

      div.icon {
        height: 180px;
        margin-bottom: 30px;
        position: relative;

        img{
          display: block;
          max-width: 100%;
          position: absolute;
          bottom:0;
          left:50%;
          transform:translateX(-50%);
        }

      }

      h3 {
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
        font-size: 25px;
        font-weight: bold;
      }

      p {
        font-size: 12px;
        font-style: italic;
        margin-top: 5px;
        height: 68px;
      }

      div.icon_link {
        a {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }

    div.btn_wrapper {
      clear:both;
      padding-top: 35px;
      margin-left: 115px;
      padding-bottom: 50px;

      #search_guides_btn {
        width: 300px;
        text-transform: uppercase;
      }
    }

    @media (max-width: 767px) {
      div.icon_wrapper {
        clear:both;
      }

      div.btn_wrapper {
        margin: auto;
        width: 100%;
        text-align: center;
      }
    }

    @media (max-width: 575px) {
      h2 {
        margin-left: 15px;
      }
      div.icon_wrapper {
        clear:both;
      }
    }
  }

  #home_carousel {
    /*height: 760px;*/
    width: 100%;
    max-height: 760px;
    overflow-y: hidden;

    #myCarousel {
      /*height: 760px;*/
      width: 100%;
      max-height: 760px;

      .carousel-inner > .item > img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }

      .carousel-inner > .item {
        -webkit-transition: 5s ease-in-out left;
        -moz-transition: 5s ease-in-out left;
        -o-transition: 5s ease-in-out left;
        transition: 5s ease-in-out left;
      }




      .carousel-control .glyphicon-chevron-right,  .carousel-control .glyphicon-chevron-left{
        top: 50%;
      }

      .carousel-caption {
        top: 480px;
        bottom: auto;
        text-align: left;
        left: 10%;
        right: 0%;
        background-color: rgba(255,255,255,0.9);
        /*opacity: 0.5;
        filter: alpha(opacity=50);*/
        font-family: Avenir;
        color: #002D59;

        h3 {
          text-transform: uppercase;
          margin: 0px;
          padding: 0px;
          font-size: 25px;
          font-weight: bold;

          padding-left: 30px;
          padding-top: 5px;
          font-weight: bold;
          letter-spacing: 1px;

        }
        p {
          margin: 0;
          padding-top: 20px;
          padding-left: 30px;
          padding-right: 10%;
        }


      }

      @media (max-width: 946px) {
        .carousel-caption {
          top: 65%;
          p {display: none;}
        }
      }

      @media (max-width: 530px) {
        .carousel-control .glyphicon-chevron-right,  .carousel-control .glyphicon-chevron-left{
          top: 40%;
        }
        .carousel-caption {
          top: 55%;
          h3 { font-size: 18px;}
        }
      }
    }


  }
  @media (min-width: 2000px) {
    #home_carousel {
      max-height: 1000px;
      #myCarousel {
        max-height: 1000px;
        .carousel-caption {
          top: 720px;
        }
      }
    }
  }

  @media (min-width: 3000px) {
    #home_carousel {
      max-height: 1300px;
      #myCarousel {
        max-height: 1300px;
        .carousel-caption {
          top: 950px;
        }
      }
    }
  }


  /* navbar fix from: https://coderwall.com/p/wpjw4w/change-the-bootstrap-navbar-breakpoint */
  @media (max-width: 975px) {
    #home_logo {
      float: none;
      margin: auto;
      display: block;
      padding-top: 5px;
    }
    /* custom */

    .navbar-right::before {
      clear:both;
    }
    .navbar-right {
      width: 100%;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float: none;
    }
    .navbar-nav {
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float: none;
    }
    .navbar-nav>li {
      display: inline;
      float: left;
    }
    .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .navbar-nav .open .dropdown-menu {
      position: absolute;
    }

  }

  @media (max-width: 575px) {
    #homeBrowseNavbar {
      font-size: 12px;

      .dropdown-menu {
        min-width: 80px;
        font-size: 10px;
      }
    }
    .navbar-nav .open .dropdown-menu > li > a {
      padding:3px 10px;
    }

    #login_btn {
      width: 60px;
      height: 30px;
      background-color: #FAA738;
      margin-top: 7px;
      margin-left: 10px;
      border-radius: 30px 30px 30px 30px;
      font-size: 10px;
      display:none;
    }

  }

  /* For Search Bar */
  @media (max-width: 635px) {
    #home_searchbar_outer #home_searchbar .search_select_wrapper {
      display: none;
    }
    #home_searchbar_outer #home_searchbar ul {
      margin-left: 20px;
    }
    #home_searchbar_outer #home_searchbar ul li a {
      font-size: 12px;
    }
    #home_searchbar_outer #home_searchbar .input-group {
      margin-left: 10px;
    }
    #home_searchbar_outer #home_searchbar {
      width:100%;
    }
    #home_searchbar_outer {
      padding-right: 10px;
    }
  }

  @media (max-width: 536px) {
    #home_searchbar_outer #home_searchbar .search_select_wrapper {
      display: none;
    }
    #home_searchbar_outer #home_searchbar ul {
      margin-left: 20px;
    }
    #home_searchbar_outer #home_searchbar ul li a {
      font-size: 10px;
    }
    #home_searchbar_outer #home_searchbar .input-group {
      margin-left: 5px;
    }
    #home_searchbar_outer #home_searchbar {
      width:100%;
    }
    #home_searchbar_outer {
      padding-right: 5px;
    }
  }
  /* end navbar fix */

}
/* For smaller sizes... fixme? */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
@media (max-width: 699.75px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}
