.blacklight-homepage {
    //margin:0px;
    //background-color:#818e9e;
  //background-color:#fdfdf0;
    //font-family: Arial, Helvetica, sans-serif;
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Lato', Verdana, Arail, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

#home_container {
  width:100%;
  margin: 0 auto;
  max-width:1045px;
}

#home_logo {
  width: 1042px;
  height:265px;
  background-image: asset_url("home/home_header_logo.png");
  margin: 0 auto;
}

#home_people {
  clear: both;
  background-image: asset_url("home/home_people.png");
  background-repeat: no-repeat;
  background-position: center top;
  width:769px;
  height:519px;
  margin: 0 auto;
}

#home_container .search_frame {
  min-width: 320px;
  height: 100px;
  margin-bottom: 0;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
  border-bottom: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  margin-top:50px;
  clear:both;
}

#home_container .search_container {
  //display:block;
  //position:relative;
  width:850px;
  margin:0 auto;
  height:20px;
  padding-top:40px;
}

/*#home_container .search_frame {
  //float:left;
  //position:relative;
  //top:400px;
  margin-top:50px;
  margin-bottom:15px;
  clear:both;
  //background-color:rgba(23,64,111,0.4);
  background-color: #bccfe7;
  width:100%;
  min-width:800px;
  height:64px;
  padding: 35px 0;
  padding-bottom:0px;
}*/

/*#home_container .search_container {
  display:block;
  position:relative;
  width:850px;
  margin:0 auto;
  height:20px;
}*/

#home_container #search-form-header {
  margin-top:-20px;
  margin-bottom:15px;
  padding-top:0px;
  height:30px;

}

#home_container .search_box {
  position:relative;
  width:740px;
  height:30px;
  font-size:22px;
  border:1px solid rgba(188,207,231,.8);
  padding:0 6px;
  color:#666666;
  background:#FFFFFF asset_url("shared/mag_glass.png") 705px 5px no-repeat;
}

#home_container .search_button {
  position:relative;
  top:-1px;
  left:5px;
  width:100px;
  height:40px;
  border:1px solid rgba(188,207,231,.8);
  font-size:20px;
  background-color:#cccccc;
  /*background-color:#7289A9;
  color:#00214d;*/
}

/*#home_container .nav_buttons {
  position:relative;
  top:5px;
  display:block;
  height:40px;
  width:848px;
  margin:15px auto;
  background-color:#c73b03;
  border:1px solid rgba(188,207,231,.8);
}

#home_container .nav_buttons ul {
  margin:0;
  padding:0;
}

#home_container .nav_buttons ul li {
  display:inline-block;
  float:left;
}*/


#home_container .adv_search_button_wrapper {
  display:inline-block;
  float:right;
  margin:0;
}

@media (max-width: 1250px) {
  #home_logo {
    width: 781px;
    height:199px;
    background-image: asset_url("home/home_header_logo.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
    background-size: cover;
  }

  #home_people {
    clear: both;
    background-image: asset_url("home/home_people.png");
    background-repeat: no-repeat;
    background-position: center top;
    width:577px;
    height:390px;
    margin: 0 auto;
    background-size: cover;
  }

  #home_container .search_container {
    //display:block;
    //position:relative;
    width:637px;
    margin:0 auto;
    height:20px;
    padding-top:40px;
  }

  #home_container .search_box {
    position:relative;
    width:505px;
    height:30px;
    font-size:22px;
    border:1px solid rgba(188,207,231,.8);
    padding:0 6px;
    color:#666666;
    background:#FFFFFF asset_url("shared/mag_glass.png") 705px 5px no-repeat;
  }
}

/* responsive styles */

@media (max-width: 908px) {

  #home_logo {
    width: 521px;
    height:133px;
    background-image: asset_url("home/home_header_logo.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
    background-size: cover;
  }

  #home_people {
    clear: both;
    background-image: asset_url("home/home_people.png");
    background-repeat: no-repeat;
    background-position: center top;
    width:385px;
    height:260px;
    margin: 0 auto;
    background-size: cover;
  }

  #home_container .search_container {
    //display:block;
    //position:relative;
    width:425px;
    margin:0 auto;
    height:20px;
    padding-top:40px;
  }

  #home_container #search-form-header {
    margin-top:-20px;
    margin-bottom:15px;
    padding-top:0px;
    height:30px;

  }

  #home_container .search_box {
    position:relative;
    width:370px;
    height:30px;
    font-size:22px;
    border:1px solid rgba(188,207,231,.8);
    padding:0 6px;
    color:#666666;
    background:#FFFFFF asset_url("shared/mag_glass.png") 705px 5px no-repeat;
  }

  #home_container .search_button {
    position:relative;
    top:-1px;
    left:5px;
    width:50px;
    height:40px;
    border:1px solid rgba(188,207,231,.8);
    font-size:20px;
    background-color:#cccccc;
    /*background-color:#7289A9;
    color:#00214d;*/
  }

}

@media (max-width: 560px) {

  #home_logo {
    width: 390px;
    height:100px;
    background-image: asset_url("home/home_header_logo.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
    background-size: cover;
  }

  #home_people {
    clear: both;
    background-image: asset_url("home/home_people.png");
    background-repeat: no-repeat;
    background-position: center top;
    width:289px;
    height:195px;
    margin: 0 auto;
    background-size: cover;
  }

  #home_container .search_container {
    //display:block;
    //position:relative;
    width:319px;
    margin:0 auto;
    height:20px;
    padding-top:40px;
  }

  #home_container #search-form-header {
    margin-top:-20px;
    margin-bottom:15px;
    padding-top:0px;
    height:30px;

  }

  #home_container .search_box {
    position:relative;
    width:278px;
    height:30px;
    font-size:22px;
    border:1px solid rgba(188,207,231,.8);
    padding:0 6px;
    color:#666666;
    background:#FFFFFF asset_url("shared/mag_glass.png") 705px 5px no-repeat;
  }

  #home_container .search_button {
    position:relative;
    top:-1px;
    left:5px;
    width:40px;
    height:40px;
    border:1px solid rgba(188,207,231,.8);
    font-size:20px;
    background-color:#cccccc;
    /*background-color:#7289A9;
    color:#00214d;*/
  }
}


