/* styles for institution views */

/* institutions index view (see shared.css for static-navbar) */

$very_dark_gray: #555555 !default;
$darker_gray: #666666 !default;
$dark_gray: #A29E9E !default;
$light_gray: #CACACA !default;
$lighter_gray: #F1F1F1 !default;

$bootstrap_text: #333333 !default;

$bl_link: #428BCA !default;
$bl_link_hover: #005580 !default;

$well_bg_color: #F5F5F5 !default;
$well_border_color: #E3E3E3 !default;
$facets_border: #DDDDDD !default;

$navbarBorder: #D4D4D4 !default;

$dropdown-hover-background: #0081C2 !default;
$dropdown-hover-background-gradient-start:#0088CC !default;
$dropdown-hover-background-gradient-end: #0077B3 !default;

$error_text: #b94a48 !default;
$error_bg: #f2dede !default;
$error_border: #eed3d7 !default;

$viewer_bg: #111111 !default;

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

/* new */
#institutions-index {
  font-family: avenir;
  color: #002D59;

  .side_nav {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    overflow: auto;
    overflow-wrap: break-word;

    h4 {
      text-transform: uppercase;
      margin: 0px;
      padding: 0px;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul.content {
      border-top: 2px #BACBE7 dotted;
      padding-top: 8px;

        li {
          font-size: 15px;
        }
        li.active {
          a {
            color: #FAA738;
            font-weight: bold;
            font-size: 17px;
          }
        }
        li:first-child {
           margin-top:15px;
        }
    }
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 18px;
  }

  #browse_by_title {
    border-top: 2px #BACBE7 dotted;
    padding-top:8px;
    padding-bottom:8px;
    border-bottom: 2px #BACBE7 dotted;
    font-family: 'Lato', Verdana, Arail, Helvetica, sans-serif;

    h4 {
      float: left;
      font-size: 15px;
      font-weight: bold;
      margin-right: 18px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      font-size: 18px;
      li {
        margin: 0;
        margin-top: 6px;
        margin-right: 30px;
        float: left;
      }
      li.active {
        margin-top: 0px;
        a {
          color: #FAA738;
        }

        font-weight: bold;
        font-size: 25px;
      }
    }
    ul:after {
      clear: both;
    }
  }

  table.inst_collection_table {
    border-top: 0;
    tr {
      border-top: 2px #BACBE7 dotted;

      border-bottom: 2px #BACBE7 dotted;
      td {
        border: 0;
        padding-top:18px;
        padding-bottom:18px;
      }
    }

    tr:first-child {
      border-top: 0;
    }
    tr:last-child {
      border-bottom: 0;
    }

    i.glyphicon-chevron-right {
      color: #FAA738;
    }



  }
}

@media (max-width: 834.75px) {
  #institutions-index {
    #sidebar {
      display: none !important;
    }
    .collections-list {
      width: 100%;
    }
  }
}

@media (max-width: 630.75px) {
  #institutions-index {
    #browse_by_title {

      h4 {
        font-size: 13px;
        margin-right: 13px;
      }

      ul {
        font-size: 15px;
        li {
          margin-top: 7px;
          margin-right: 20px;
        }
        li.active {
          margin-top: 3px;
          font-size: 20px;
        }
        li:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

@media (max-width: 482.75px) {
  #institutions-index {
    #browse_by_title {

      h4 {
        font-size: 10px;
        margin-right: 10px;
      }

      ul {
        font-size: 12px;
        li {
          margin-top: 7px;
          margin-right: 15px;
        }
        li.active {
          margin-top: 3px;
          font-size: 18px;
        }
        li:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}


#institutions-show {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;

  div#breadcrumbs-title {
    @include rounded-corners(30px);
    /*margin-left: 20px;
    margin-right: 20px;*/
    background-color: #002D59;
    width: calc(100% - 0px);
    /*margin: auto;*/
    margin-top:15px;
    margin-bottom: 0px;
    min-height: 40px;
    color: #FFFFFF;
    font-family: Avenir;
    overflow: auto;

    ul {
      padding-top: 10px;
      margin-bottom: 0px;
      padding-left: 15px;
      padding-right: 15px;
      list-style: none;
      float: left;
      background-color: unset;
      border-radius: unset;

      li + li:before {
        content: unset;
        padding: 0;
      }

      li.breadcrumb-back {
        a {
          text-transform: uppercase;
          color: white;
          letter-spacing: 1px;
          font-size: 15px;
          font-weight: bold;
        }
      }
      li.breadcrumb-back:after {
        margin-left: 7px;
        margin-right: 5px;
        content: "\e080";
        color: #FAA738;
        font-family: 'Glyphicons Halflings';
        font-size: 11px;
      }
      li.breadcrumb-title {
        font-size: 14px;
        font-weight: bold;
        padding-top: -1px;
      }


    }

  }

  div#inst_image {
    /*float: left;*/
    margin-top: 20px;
    img.institution_img_show {
      float: left;
      max-width: 25%;
      margin: 0 1.4em 1em 0;
      margin-top: 10px;
    }

  }


  div#institution_search_tools {
    margin-top: 20px;
    float: right;

    color: #002D59;
    width: 72%;

    .search_inst {
      border-radius: 30px 0px 0px 30px;
      height: 40px;
      width: 450px;


      &::-webkit-input-placeholder {
        color: #002D59;
        font-weight: bold;
        font-family: Avenir;
      }

      &::-moz-placeholder {
        color: #002D59;
        font-weight: bold;
        font-family: Avenir;
      }

      &::-ms-input-placeholder {
        color: #002D59;
        font-weight: bold;
        font-family: Avenir;
      }

      &::-o-input-placeholder {
        color: #002D59;
        font-weight: bold;
        font-family: Avenir;
      }
    }

    .search-btn {
      border-radius: 0px 30px 30px 0px;
      cursor:pointer;
      height: 41px;
      background-color: #FAA738;
      margin-top: -1px;
      text-transform: uppercase;
      font-family: Avenir;
      letter-spacing: 1px;
      width: 130px;
    }
  }



  div#inst_info {
    float: right;

    color: #002D59;
    width: 72%;


    div#institution_desc {
      padding-top: 20px;
      clear: both;
    }

  }

  #institution_collections {
    width: 100%;
    float: left;
    margin-top: 1em;

    h4 {
      @include rounded-corners(30px);
      background-color: #002D59;
      width: 100%;
      /*margin: auto;*/
      margin-top:15px;
      margin-bottom: 0px;
      height: 40px;
      color: #FFFFFF;
      font-family: Avenir;
      padding-top: 10px;
      padding-left: 15px;
    }

    #documents {
      margin-left: 15px;
      margin-right: 15px;
    }

    #collections_count {
      font-size: 14px;
    }

    #documents.collections-gallery {
      margin-top: 0;
    }

    #documents .masonry.col-md-4 {
      width:32.5%;
    }

    #documents .masonry.col-sm-4 {
      width:31.75%;
    }

    #documents .masonry.col-sm-6 {
      width:49.5%;
    }

  }

  #sidebar {
    margin-top: 20px;
  }

  #blacklight-collection-map-container {

    #blacklight-index-map {
      margin-left: 20px;
      margin-right: 20px;
      max-height: 350px;
    }
    h4 {
      @include rounded-corners(30px);
      background-color: #002D59;
      width: 100%;
      /*margin: auto;*/
      margin-top:15px;
      margin-bottom: 0px;
      height: 40px;
      color: #FFFFFF;
      font-family: Avenir;
      padding-top: 10px;
      padding-left: 15px;
      margin-bottom: 7px;
    }

    .mapped-count {
      color: #002D59;
      margin-left: 20px;
      .badge {
        background-color: #002D59;
      }
    }
  }

}

@media (max-width: 1180px) {
  #institutions-show {
    div#institution_search_tools {
      .search_inst {
        width: 300px;
      }
    }
  }

}

@media (max-width: 991.75px) {
  #institutions-show {
    div#inst_image {
      float: unset;
      margin-top: 22px;
      width: 100%;
      img.institution_img_show {
        float: unset;
        max-width: 50%;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

    }
    div#institution_search_tools {
      margin-left: auto;
      margin-right: auto;
      float: unset;
      display: block;
      width: 380px;


      .search_inst {
        width: 250px;
      }
    }

    div#inst_info {
      width: 90%;

    }
  }
}

@media (max-width: 767.75px) {
  #institutions-show {
    div.maximize_custom {
      width: 100%;
    }

    div#inst_info {
      width: 90%;
      float: unset;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    #sidebar {
      clear: both;
      float: unset !important;
      margin-bottom: -23px;
      margin-top: 5px;
    }
  }

}

@media (max-width: 429.75px) {
  #institutions-show {
    div#institution_search_tools {
      width: 355px;
      .search_inst {
        width: 225px;
      }
    }
  }

}
/* end new */


/* Legacy to Check */
div.institutions-list {

  #sortAndPerPage {
    margin-bottom:0;

    /* don't display sort widget */
    #sort-dropdown {
      display: none;
    }

  }

  #documents {
    margin-top: 15px;

    .blacklight-institution {
      margin-bottom: 10px;
      padding-bottom: 10px;

      .document-thumbnail {
        display: none;
      }

      .documentHeader {
        padding-left: 0;
      }

      .document-metadata {
        display: none;
      }

    }

  }

  #institutions-index-map {
    height: 550px;
    margin: 10px 0;

    & ~ div.record-padding {

      div.pagination {
        display: none;
      }

    }
  }

}

/* End Legacy to Check */










