
@font-face {
  font-family: DTA;
  src: url(font-path('4990810.ttf'))  format('truetype');
}
@font-face {
  font-family: Gotham-Black;
  src: url(font-path('Gotham-Black.otf'))  format('opentype');
}
@font-face {
  font-family: Gotham-Ultra;
  src: url(font-path('Gotham-Ultra.otf'))  format('opentype');
}

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

#obj_show {
  figcaption {
    display:none;
  }

  /* show area */
  #document {

    color: #002D59;

    #show_row {
      margin-top: 15px;

      #show_left {
        margin-left: 23px;
        margin-right: 23px;

        .img-responsive {
          display: unset;
          border: #002D59 solid 1px;
        }

        /*i {
          color: #fff;
          background-color: #002D59;
          text-align: center;
          position: absolute;
          bottom: calc(0% + 57px);
          right: calc(0% + 64px);
          padding: 15px;
          line-height: 1;
        }*/

        h2 {
          font-size: 25px;
          font-weight: bold;
          margin-top: 2px;
        }

        h3 {
          font-size: 18px;
          font-style: italic;
          margin-top:-10px;
          margin-bottom:20px;
        }
        p {

        }
      }

      #show_right {
        /*float: right;*/
        margin-right: 23px;
        margin-left: 23px;

        /* Alternative is at 768px, to have it go under and get rid of the dl margin */
        .show_actions {
          overflow: auto;
          overflow-wrap: break-word;
          .dl-horizontal dt {
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

        }
        h4 {
          text-transform: uppercase;
          margin: 0px;
          padding: 0px;
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 11px;
        }

        .content {
          border-top: 2px #BACBE7 dotted;
          padding-top: 8px;
        }
        dt {
          text-align: left;
          font-weight: bold;
          padding-left: 2px;
          width: 75px;
          margin-bottom: 10px;
        }
        dd {
          padding-left:0px;
          margin-left: 100px;
          margin-bottom: 10px;
        }

        .show_leaflet {
          width:80%;
          margin-top:0px;
          max-width:400px;
        }
      }

      #item_information_banner:before {
        clear: both;
      }
      #item_information_banner:after {
        clear: both;
      }
      #item_information_banner {
        @include rounded-corners(30px);
        margin-left: 30px;
        margin-right: 30px;
        background-color: #002D59;
        width: calc(100% - 60px);
        /*margin: auto;*/
        margin-top:15px;
        margin-bottom: 0px;
        height: 40px;
        color: #FFFFFF;

        h2 {
          font-weight: bold;
          font-size: 15px;
          text-transform: uppercase;
          color: white;
          letter-spacing: 1px;
          padding-top: 12px;
          padding-left: 20px;
        }
      }

      .file-show-term {
        border: 0;
      }

      #item_metadata {
        /*dt {
          font-weight: bold;
        }*/
        dt {
          text-align: left;
          font-weight: bold;
          width: 170px;
          margin-bottom: 20px;
          padding-left: 50px;
        }
        dd {
          margin-bottom: 20px;
          padding-left:0px;
          margin-left: 170px;
        }
      }

    }
    #show_row:after {
      clear: both;
    }
  }

  @media (max-width: 767.75px) {
    #document {
      #show_row {
        #item_metadata {
          margin-left: 44px;

          dt {
            padding-left: 0px;
            margin-bottom: 0px;
          }
          dd {
            margin-bottom:15px;
            margin-left: 0px;
          }
        }
        #show_right {
          margin-top: 20px;
        }
      }
    }
  }


  /* header / footer navigation */
  div.show-breadcrumb-navigation {
      @include rounded-corners(30px);
      margin-left: 20px;
      margin-right: 20px;
      background-color: #002D59;
      width: calc(100% - 40px);
      /*margin: auto;*/
      margin-top:15px;
      margin-bottom: 0px;
      height: 40px;
      color: #FFFFFF;
  }

  div#previousNextDocumentBot {
    margin-top: 15px;
    margin-bottom: 15px;
    ul.breadcrumb {
      margin-bottom: 0px;
    }
  }

  div.show-breadcrumb-navigation:after {
    clear: both;
  }

  div.page_links {
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    color: #bbb;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    a {
      color: white;
    }
  }

  /* line 6, /home/bluewolf/.rvm/gems/ruby-2.2.1/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_breadcrumbs.scss */
  .breadcrumb {
    /*    padding: 8px 15px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border-radius: 4px;*/
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    float: left;
    background-color: unset;
    border-radius: unset;

    a:before {
      content: "\e079";
      color: #FAA738;
      font-family: 'Glyphicons Halflings';
      font-size: 11px;
    }
    a {
      font-weight: normal;
      font-size: 15px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
    }
    /*padding: 8px 15px;
    margin-bottom: 20px;*/
  }
  /* line 13, /home/bluewolf/.rvm/gems/ruby-2.2.1/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_breadcrumbs.scss */
  .breadcrumb > li {
    display: inline-block;
  }
  /* line 16, /home/bluewolf/.rvm/gems/ruby-2.2.1/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_breadcrumbs.scss */
  .breadcrumb > li + li:before {
    content: unset;
    padding: 0 5px;
    color: #fff;
  }
  /* line 25, /home/bluewolf/.rvm/gems/ruby-2.2.1/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_breadcrumbs.scss */
  .breadcrumb > .active {
    color: #F9A240;
  }

  @media (max-width: 600px) {
    div.page_links {
      padding-top: 11px;
      font-size: 11px;
      font-weight: normal;
      a {
        color: white;
      }
    }

    .breadcrumb {
      .large_back {
        display: none !important;
      }
      .small_back {
        display: block !important;
      }
      padding-top: 11px;
      padding-left: 13px;
      padding-right: 13px;

      a:before {
        font-size: 9px;
      }
      a {
        font-size: 13px;
        content: "Back"
      }
    }
  }
}
